@model IEnumerable<Entity.DetallePedido>
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle del Pedido</h2>

<p>
    @Html.ActionLink("Nuevo Pedido", "Create")
</p>

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { p = item.IdPedido, pr = item.Producto.IdProducto })  / @Html.ActionLink("Delete", "Delete", new { p = item.IdPedido, pr = item.Producto.IdProducto })
            </td>
        </tr>
    }
</table>


