@model IEnumerable<Entity.Pedido>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo Pedido", "Create")
</p>

<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sede)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NroTransaccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioEnvio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>

        <th></th>
    </tr>

    @foreach (Entity.Pedido item in Model)
    {
        @Html.HiddenFor(movel => item.DetallesPedidos)
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Apodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sede.Franquicia.Nombre)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NroTransaccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioEnvio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { dp = item.IdPedido })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { p = item.IdPedido }) |
            @Html.ActionLink("Delete", "Delete", new { p = item.IdPedido })
        </td>
    </tr>
    }
</table>


